<article class="compact-card"> <!-- <<< DEĞİŞİKLİK BURADA -->
    <a href="{{ .Permalink }}" class="card-link">
        {{- with .Params.cover.image -}}
        <div class="compact-card-image-container"> <!-- <<< BU CLASS'I DA GÜNCELLEDİM -->
            <img src="{{ . | absURL }}" alt="{{ $.Params.cover.alt | default $.Title }}" loading="lazy" class="compact-card-image"> <!-- <<< BU CLASS'I DA GÜNCELLEDİM -->
        </div>
        {{- end -}}
        <div class="compact-card-content"> <!-- <<< BU CLASS'I DA GÜNCELLEDİM -->
            <div>
                <span class="compact-card-category">{{ index .Params.categories 0 }}</span>
                <h3 class="compact-card-title">{{ .Title }}</h3>
                <p class="post-list-summary">{{ .Summary | plainify | safeHTML | truncate 150 }}</p>
            </div>
            <div class="compact-card-meta">
                {{ $date_english := .Date.Format "2 January 2006" }}
                {{ $date_turkish := $date_english }}
                {{ $date_turkish = replace $date_turkish "January" "Ocak" }}
                {{ $date_turkish = replace $date_turkish "February" "Şubat" }}
                {{ $date_turkish = replace $date_turkish "March" "Mart" }}
                {{ $date_turkish = replace $date_turkish "April" "Nisan" }}
                {{ $date_turkish = replace $date_turkish "May" "Mayıs" }}
                {{ $date_turkish = replace $date_turkish "June" "Haziran" }}
                {{ $date_turkish = replace $date_turkish "July" "Temmuz" }}
                {{ $date_turkish = replace $date_turkish "August" "Ağustos" }}
                {{ $date_turkish = replace $date_turkish "September" "Eylül" }}
                {{ $date_turkish = replace $date_turkish "October" "Ekim" }}
                {{ $date_turkish = replace $date_turkish "November" "Kasım" }}
                {{ $date_turkish = replace $date_turkish "December" "Aralık" }}
                <span>{{ $date_turkish }}</span>
                <span class="meta-separator">·</span>
                <span>{{ .ReadingTime }} dk okuma</span>
            </div>
        </div>
    </a>
</article>