{{ $page := . }}
<article class="post-card-v2 featured-card">
    <a href="{{ $page.RelPermalink }}" class="post-card-link">
        
        <div class="post-card-image-v2">
            {{ with $page.Params.cover.image }}
                <img src="{{ . | relURL }}" alt="{{ $page.Title }}">
            {{ else }}
                <div class="image-placeholder-v2"></div>
            {{ end }}
            <div class="featured-tag">
                <i class="fas fa-star"></i> Öne Çıkan
            </div>
        </div>

        <div class="post-card-content-v2">
            <span class="post-title">{{ $page.Title }}</span>
            
            <p class="post-card-summary">
                {{ if $page.Description }}
                    {{ $page.Description }}
                {{ else }}
                    {{ $page.Summary | plainify | htmlUnescape | truncate 150 }}
                {{ end }}
            </p>

            <div class="post-card-footer">
                <div class="post-meta-v2">
    {{ with $page.Params.categories }}
        <span class="meta-category">
            <i class="fas fa-folder-open"></i> {{ index . 0 }}
        </span>
    {{ end }}
    {{/* --- YENİ EKLENEN BÖLÜM BURASI --- */}}
    <span>
        <i class="far fa-calendar-alt"></i> {{ partial "format-turkish-date.html" $page.PublishDate }}
    </span>
    <span>
        <i class="far fa-clock"></i> {{ $page.ReadingTime }} dk
    </span>
</div>
            </div>
        </div>
    </a>
</article>