<article class="post-card-v2 published">
    <a href="{{ .RelPermalink }}" class="post-card-link">
        <div class="post-card-image-v2">
            {{ with .Params.cover.image }}
                <img src="{{ . | absURL }}" alt="{{ $.Title }}">
            {{ else }}
                <div class="image-placeholder-v2"></div>
            {{ end }}
        </div>
        <div class="post-card-content-v2">
            <span class="post-title">{{ .Title }}</span>
            
            {{/* Açıklama alanını kullanıyoruz, eğer yoksa özeti kısaltarak kullanıyoruz */}}
            <p class="post-card-summary">
                {{ if .Description }}
                    {{ .Description }}
                {{ else }}
                    {{ .Summary | plainify | htmlUnescape | truncate 150 }}
                {{ end }}
            </p>

            <div class="post-card-footer">
                <div class="post-meta-v2">
                    {{ with .Params.categories }}
                        <span class="meta-category">
                            <i class="fas fa-folder-open"></i> {{ index . 0 }}
                        </span>
                    {{ end }}
                    <span>
                        <i class="far fa-calendar-alt"></i> {{ partial "format-turkish-date.html" .PublishDate }}
                    </span>
                    <span>
                        <i class="far fa-clock"></i> {{ .ReadingTime }} dk
                    </span>
                </div>
                <div class="post-status-v2" style="display: none;"></div> {{/* Bu etiket burada görünmesin diye gizliyoruz */}}
            </div>
        </div>
    </a>
</article>