<article class="featured-card-v2">
    <a href="{{ .Permalink }}" class="card-link">
        <div class="card-image-container-featured">
            {{- with .Params.cover.image -}}
            <img src="{{ . | absURL }}" alt="{{ $.Params.cover.alt | default $.Title }}" loading="lazy" class="card-image">
            {{- end -}}
        </div>
        <div class="card-content-featured">
            <span class="card-category-featured">{{ index .Params.categories 0 }}</span>
            <h3 class="card-title-featured">{{ .Title }}</h3>
            <div class="card-meta-featured">
                <span>{{ .Date.Format "2 Jan 2006" }}</span>
                <span>·</span>
                <span>{{ .ReadingTime }} dk okuma</span>
            </div>
        </div>
    </a>
</article>