<header class="header">
    <nav class="nav">
        <div class="logo">
            {{- partial "logo.html" . -}}
        </div>
        <ul class="menu">
            {{- range .Site.Menus.main -}}
            {{- if .HasChildren -}}
            <li class="menu-item">
                <a>{{ .Name }}</a>
                <ul class="submenu">
                    {{- range .Children -}}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                    {{- end -}}
                </ul>
            </li>
            {{- else -}}
            <li class="menu-item{{ if eq .Identifier "arama" }} menu-item-arama{{ end }}">
                <a href="{{ .URL }}" title="{{ .Title | default .Name }}">
                    {{- if eq .Identifier "arama" -}}
                        <span class="search-icon">{{ .Name | safeHTML }}</span>
                    {{- else -}}
                        {{- .Name -}}
                    {{- end -}}
                </a>
            </li>
            {{- end -}}
            {{- end -}}
            <li class="menu-item-search">
                {{- if .Site.Params.search.hidden | not -}}
                <a id="search-trigger" aria-label="Arama" title="Arama">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                </a>
                {{- end -}}
            </li>
        </ul>
    </nav>
</header>