{{ define "main" }}
<div class="about-page-container">
    <aside class="about-sidebar">
        <div class="sticky-sidebar">
            <div class="about-profile">
                <img src="{{ "logo.png" | absURL }}" alt="{{ .Site.Title }} logo" class="profile-logo">
                <h2 class="profile-name">{{ .Site.Title }}</h2>
                <p class="profile-tagline">Fikirden Ürüne, Üründen Gelire...</p>
            </div>
            <div class="widget">
                <h4 class="widget-title">Bana Ulaşın</h4>
                <ul class="widget-list icon-links">
                    <li><a href="mailto:edu3dmodel@gmail.com"><i class="fas fa-envelope"></i><span>E-posta</span></a></li>
                    <li><a href="https://www.instagram.com/edu3dmodel/" target="_blank"><i class="fab fa-instagram"></i><span>Instagram</span></a></li>
                </ul>
            </div>
            <div class="widget">
                <h4 class="widget-title">Yolculuğa Başla</h4>
                <ul class="widget-list icon-links">
                    <li><a href="/buradan-basla/"><i class="fas fa-map-signs"></i><span>Yol Haritasını Gör</span></a></li>
                </ul>
            </div>
        </div>
    </aside>
    <article class="about-main-content">
        <header class="post-header"><h1 class="post-title">{{ .Title }}</h1></header>
        <div class="post-content">{{ .Content }}</div>
    </article>
</div>
{{ end }}